@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@400;800&display=swap');

.intro{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    font-weight: 800;
    color: #343a40;
    margin-top: 120px;
    font-size: xx-large;
}
.introco{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    color: #343a40;
    font-size: large;
}
.brand{
    font-family: 'Cinzel', sans-serif;
    padding: 10px;
    font-size: large;
}
.header{
    padding-bottom: 15px;
    padding-top: 15px;
}
.menu-item{
    padding: 10px;
    /* align-items: center; */
    /* padding-left: 10px; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.logo-img{
    padding: 25px;
}
/*  #292e33 
    #dedad6
*/
.footer-copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.talk{
    padding: 10px;
}
.pass-img{
    margin-top: 40px;
}
.tadahead{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    color: #ffffff;
    font-size: x-large;
    padding-top: 30px;
}
.tadabody{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    color: #ffffff;
    font-size: large;
    padding-bottom: 40px;
}
.abouthead{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    color: #343a40;
    font-size: x-large;
    padding-top: 30px;
}
.aboutbody{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    color: #343a40;
    font-size: large;
    padding-bottom: 40px;
}
